
.marker-animation{
        background-image: -webkit-linear-gradient(left, transparent 50%, rgb(255, 250, 153) 50%);
        background-image: -moz-linear-gradient(left, transparent 50%, rgb(255, 250, 153) 50%);
        background-image: -ms-linear-gradient(left, transparent 50%, rgb(255, 250, 153) 50%);
        background-image: -o-linear-gradient(left, transparent 50%, rgb(255, 250, 153) 50%);
        background-image: linear-gradient(left, transparent 50%, rgb(255, 250, 153) 50%);
        background-size: 200% .9em;
        background-repeat: repeat-x;
        animation: marker 2s linear 0s 1 forwards;

        @keyframes marker {

            from{background-position: 0 .9em;}
            to{background-position: -100% .5em;}
        }

}


